@model IEnumerable<Product>

@foreach (var item in Model)
{
    var imagePath = item.ProductImages.FirstOrDefault()?.Name;

    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-40">
        <div class="single-product position-relative pb-30">
            <div class="single-product-img position-relative">
                <a asp-action="details" asp-route-id="1">
                    <img src="~/assets/imgs/@imagePath" alt="pr-img" />
                </a>
                <div class="single-product-hover-img position-absolute">
                    <a asp-action="details" asp-route-id="1">
                        <img src="~/assets/imgs/@imagePath" alt="pr-img" />
                    </a>
                </div>
                <ul class="single-product-button d-flex position-absolute">
                    <li>
                        <a asp-action="index">
                            <i class="fa-solid fa-bag-shopping"></i>
                        </a>
                    </li>
                    <li class="eye">
                        <a href="javascript:void(0)">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                    </li>
                    <li>
                        <a asp-action="index">
                            <i class="fa-solid fa-heart"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <h5 class="product-name pt-20 pl-20">
                <a asp-action="details">
                    @item.Name
                </a>
            </h5>
            <div class="product-price pl-20">
                <span class="black-color"><ins>$799.00</ins></span>
                <span class="old-price"><del>$829.00</del></span>
            </div>
        </div>
    </div>
}