@model IEnumerable<Product>





@foreach (var item in Model)
{
    string imagePath = item.ProductImages.FirstOrDefault(i => i.IsMain == true)?.Name;


    <div class="card rounded-3 mb-4 basket-card">
        <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-2 col-lg-2 col-xl-2">
                    <img src="~/uploads/images/@imagePath" class="img-fluid rounded-3" alt="Cotton T-shirt">
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2">
                    <a asp-controller="shop" asp-action="details" asp-route-id="@item.Id">
                        <p class="lead fw-normal mb-2">@item.Name</p>
                    </a>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                    <span>In Stock</span>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2">
                    <h5 class="mb-0 mb-sm-3">$@item.Price</h5>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3">
                    <a onclick="addToBasket(event)" data-product-id="@item.Id" class="btn p-add-cart p-add-cart2 text-uppercase add-to-cart">Add to Basket</a>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-1">
                    <a onclick="removeFromFav(@item.Id,event)" class="text-danger">
                        <i class="fas fa-trash fa-lg" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

}




