@model PagedViewModel<Product>

@{
    ViewData["Title"] = "Index";
}

<main>
    <!-- slider-area-start -->
    <div class="slider-area-shop over-hidden">
        <div class="single-page page-height3 d-flex align-items-center"
             style="background-image: url('./assets/imgs/banner-shop-1.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex align-items-center justify-content-center">
                        <div class="page-title text-center">
                            <h2 class="text-capitalize text-white mb-25 pt-35">Shop</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center bg-transparent">
                                    <li class="breadcrumb-item">
                                        <a class="secondary-color" asp-controller="home" asp-action="index">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active text-capitalize text-white"
                                        aria-current="page">
                                        Shop
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider-area-end  -->
    <!--  shop-header-area-start -->
    <div class="shop-sidebar-left">
        <div class="shop-header-area pt-110">
            <div class="container-wrapper pl-15 pr-15 position-relative">
                <div class="row position-static">
                    <div class="col-xl-4 col-lg-3 col-md-2 col-sm-3 col-12 position-static">
                       <partial name="_SearchProducts" />
                        <div class="product-filter-nb d-xl-none d-block p-title">
                            <div class="product-filter pb-45 text-left">
                                <a href="javascript:void(0)"
                                   class="product-filter-btn position-relative d-inline-block">Filter <span>+</span></a>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-3 col-md-3 d-none d-md-block text-center">
                        <div class="shop-title p-title pb-50">
                              <h5 class="mb-0 mt-2">Showing all @Model.Items.Count() results</h5>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-3 col-md-3 col-sm-4 col-12 d-flex justify-content-md-end position-static">
                        @*<div class="select" tabindex="1">
                            <input class="selectopt" name="test" type="radio" id="opt1" checked>
                            <label for="opt1" class="option">Sort by: Default sorting</label>
                            <input class="selectopt" name="test" type="radio" id="opt2">
                            <label for="opt2" class="option">Sort by: Popularity</label>
                            <input class="selectopt" name="test" type="radio" id="opt3">
                            <label for="opt3" class="option">Sort by: Avarage rating</label>
                            <input class="selectopt" name="test" type="radio" id="opt4">
                            <label for="opt4" class="option">Sort by: Latest</label>
                            <input class="selectopt" name="test" type="radio" id="opt5">
                            <label for="opt5" class="option">Sort by: Low to High</label>
                            <input class="selectopt" name="test" type="radio" id="opt5">
                            <label for="opt5" class="option">Sort by: High to Low</label>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>

        <!--Laptop version-->
        <div class="shop-left-sidebar-area  mt-30">
            <div class="container-wrapper pl-15 pr-15">
                <div class="row">
                    <div class="col-xl-3 col-lg- col-md- col-sm- col-">
                        @await Component.InvokeAsync("SearchPanel")
                    </div>
                    <div class="col-xl-9 col-lg- col-md- col-sm- col- pl-0">
                        <div class="row">
                            <div class="col-xl-12 col-lg- col-md- col-sm- col-">
                                <div id="col-4" class="bestsellers broducts-area">
                                    <div class="container-wrapper pl-15 pr-15">
                                        <div class="list-products">

                                            <div id="products" class="row">
                                                <partial name="_Products" model="@Model" />
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /shop-slidebar-left -->


   
</main>

@section addcss{

    <style>


        .pagination {
            display: inline-block;
            padding-left: 12px;
            margin: 20px 0;
            border-radius: 4px;
        }

            .pagination li {
                display: inline-block;
                text-transform: uppercase;
            }

            .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
                border-radius: 0;
            }

            .pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span, pagination > li > a:hover {
                color: #777;
                cursor: not-allowed;
                background-color: #fff;
                border-color: #ddd;
            }

            .pagination > li a {
                font-size: 15px;
                font-weight: bold;
                padding: 6px 14px;
                transition: all 0.15s linear;
            }

            .pagination > li > a, .pagination > li > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.42857143;
                color: #337ab7;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #ddd;
                color: #888;
                border-radius: 50%;
            }

            .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
                z-index: 2;
                color: #fff;
                cursor: default;
                background-color: black;
                border-color: black;
            }

            .pagination a {
                color: #fff;
                font-size: 12px;
                margin: 0 10px;
            }

            .pagination > li > a:hover {
                color: #fff;
                background-color: black;
                transition: all 0.15s linear;
            }


            .pagination a i {
                margin: 0 5px;
            }



        .widget li {
            list-style: none;
            line-height: 28px;
            padding: 10px 0;
            position: relative;
        }

        .list-category-item {
            margin-left: 10px;
            border-bottom: 1px solid #eee;
            border: none;
        }

        .category-input {
            transform: scale(1.4);
            margin-right: 8px;
            accent-color: #403b3b;
        }




        .category-hover-item:hover .label-text, .widget li:hover .show-children {
            color: lightgray;
        }

        .show-children {
            cursor: pointer;
            padding-top: 5px;
            position: absolute;
            right: 10px;
        }




        .border-none {
            border: none;
        }


        .widget_filter_price .ui-widget-content {
            background: #ddd;
            border-radius: 2px;
            height: 4px;
            border: none;
        }

        .widget_filter_price .ui-slider .ui-slider-range {
            background: #ab8e66;
        }

        .widget_filter_price .ui-slider .ui-slider-handle {
            width: 0;
            height: 0;
            border: none;
            top: -6px;
            border-radius: 1em;
            cursor: ew-resize;
            margin-left: -0.3em;
            outline: 0 none;
            position: absolute;
            z-index: 2;
            border-color: #ab8e66 transparent;
        }

            .widget_filter_price .ui-slider .ui-slider-handle::before {
                content: "";
                border-style: solid;
                border-width: 8px 6px 0 6px;
                border-color: #ab8e66 transparent;
            }

        .widget_filter_price .price-slider-amount {
            margin-top: 25px;
            font-size: 13px;
            color: #666666;
            overflow: hidden;
        }

        .price-slider-amount span {
            display: inline-block;
            font-size: 15px;
            color: #0a0a0a;
            border: 1px solid #eeeeee;
            padding: 4px 10px;
            font-weight: 600;
            border-radius: 0;
        }










        .woof_Widget .price-slider-amount span:first-child {
            margin-right: 10px;
        }

        .widget_filter_price .ui-widget-content {
            background: #ddd;
            border-radius: 2px;
            height: 4px;
            border: none;
        }

        .widget_filter_price .ui-slider .ui-slider-range {
            background: #ab8e66;
        }

        .widget_filter_price .ui-slider .ui-slider-handle {
            width: 0;
            height: 0;
            border: none;
            top: -6px;
            border-radius: 1em;
            cursor: ew-resize;
            margin-left: -0.3em;
            outline: 0 none;
            position: absolute;
            z-index: 2;
            border-color: #ab8e66 transparent;
        }

            .widget_filter_price .ui-slider .ui-slider-handle::before {
                content: "";
                border-style: solid;
                border-width: 8px 6px 0 6px;
                border-color: #ab8e66 transparent;
            }

        .widget_filter_price .price-slider-amount {
            margin-top: 25px;
            font-size: 13px;
            color: #666666;
            overflow: hidden;
        }






        [data-entity-type] {
            position: relative;
            padding-left: 30px;
            display: block;
            cursor: pointer;
        }

            [data-entity-type]:not(.filled)::before {
                    content: "";
                    font-size: 0.7em;
                    font-weight: 900;
                    font-family: "Font Awesome 5 Free";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius: 2px;
                    top: 50%;
                    left: 0px;
                    transform: translateY(-50%);
                    text-align: center;
                    text-indent: 1px;
                    line-height: 1.7em;
                    border-radius: 50%;
                    border: 1px solid #343a40;
            }

            [data-entity-type].active:not(.filled)::before {
                content: "✓";
                color: #ffffff;
                background-color: #343a40;
                border-color: #343a40;
            }

            [data-entity-type].filled {
                width: 30px;
                height: 25px;
                border-radius: 2px;
                border: 1px solid #cccccc85;
            }

                [data-entity-type].filled::before {
                    content: "";
                    display: inline-block;
                    padding-left: 1px;
                    line-height: 7pt;
                    font-size: 5pt;
                    font-weight: 900;
                    font-family: "Font Awesome 5 Free";
                    position: absolute;
                    top: 1px;
                    right: 1px;
                }

                [data-entity-type].filled.active::before {
                    content: "\f00c";
                    color: #000000c4;
                    background-color: #ffffff;
                    border: 1px solid #000000c4;
                    width: 12px;
                    height: 12px;
                    border-radius: 100%;
                }

        #price-range[range]::before {
            content: attr(range);
            display: flex;
            justify-content: center;
            padding-top: 15px;
        }

        .def-item{
            padding-bottom:16px;
            font-size:15px;
            line-height:1.4;
        }
        
        .def-cap{
            font-size:22px;
            font-weight:400;
            color: #fff;
            width: 100%;
            padding: 0 20px;
            border-radius: 5px;
            background: #484848;
            border-bottom: 1px solid #dbdbdb;
        }
     
        .border-default .def-list{
            overflow-y:scroll;
            max-height:206px;
        }
        .def-color-name{
            display:inline-block;
            padding-left:15px;
            width:100px;
            font-size:16px;
            color:black;
        }

        .def-link{
            color:black;
        }

        .def-link:hover, .def-link:focus, .def-link:active {
            outline: none;
            text-decoration: none;
            color:black;
        }

        .single-product:hover  ul{
            opacity:1 !important;
        }

     
    </style>

}


@section addjs{

    <script>
        $(document).ready(function () {
            $(`.show-children`).click(function () {

                let btnId = $(this).data("btn-id");

                $(".children-categories").each(function () {

                    let categoryId = $(this).data("id");

                    if (btnId == categoryId) {
                        $(`.children-categories.ul-${categoryId}`).slideToggle({ duration: 250 });
                        $(`.show-children-${btnId}`).toggleClass("rotate");
                    }
                })

            })

            $(".label-text").click(function () {
                let entityId = $(this).data("entity-id");

                $(`.category-hover-item .label-text-${entityId}`).toggleClass("checked");
            })


            $(".category-input").click(function () {
                let entityId = $(".label-text-category").data("entity-id");

                $(`.category-hover-item .label-text-category-${entityId}`).toggleClass("checked");
            })

            $('li div input.category-input').click(function () {

                setFilter();
            });
        })

        const priceRangeData = $("#price-range").data();

        const searchModel = {
            categories: [],
            brands: [],
            colors: [],
            materials: [],
            min: priceRangeData.priceMin,
            max: priceRangeData.priceMax
        };

        $(document).ready(function () {
            $('.blog-pagination.ptb-20')
                .removeClass('blog-pagination')
                .removeClass('ptb-20')
                .addClass('list-inline');

            $("#price-range")
                .attr('range', `${searchModel.min}₼ - ${searchModel.max}₼`)
                .slider({
                    range: true,
                    min: searchModel.min,
                    max: searchModel.max,
                    values: [searchModel.min, searchModel.max],
                    slide: function (e, ui) {
                        $(e.target).attr('range', `${ui.values[0]}₼ - ${ui.values[1]}₼`);
                        searchModel.min = ui.values[0];
                        searchModel.max = ui.values[1];

                        filterProducts();
                    }
                });


            $('[data-entity-type]').click(function (e) {

                e.preventDefault();

                let model = $(e.currentTarget).data();  //entityType  id

                if ($(e.currentTarget).hasClass('active') == true) {
                    $(e.currentTarget).removeClass('active');
                    searchModel[`${model.entityType}`] = searchModel[`${model.entityType}`].filter(item => item != model.id);
                }
                else {
                    $(e.currentTarget).addClass('active');

                    if (searchModel[`${model.entityType}`].filter(item => item == model.id).length == 0) {
                        searchModel[`${model.entityType}`].push(model.id);
                    }
                }

                filterProducts();
            });
        });

        function filterProducts() {
            if ($.pid != undefined) {
                clearTimeout($.pid);
            }

            $.pid = setTimeout(function () {
                console.log(searchModel);

                $.ajax({
                    type: 'POST',
                    data: searchModel,
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (response) {

                        $('#products').html(response);

                        console.log($('#products').children().length)

                        //if ($('#products').children().length <= 2) {
                        //    $("#products").html("<div style='display: flex; justify-content: center;'><img src='/assets/imgs/no-product-found.png'/></div>");
                        //    console.log("test")
                        //}


                        //console.log(response);
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
            }, 1500);
        }

    </script>


@*
    <script src="~/assets/js/main.js"></script>*@

}

