@model ProductCreateCommand

@{
    ViewData["Title"] = "Create";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Create Product</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-controller="Dashboard" asp-action="index"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-action="index">All Products</a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <span>Create</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="card">
        <div class="card-block">
            <form method="post" autocomplete="off" enctype="multipart/form-data">
                <div class="form-group row">
                    <div class="col-12 col-md-6">
                        <div class="form-group ">
                            <label asp-for="Name" class="form-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group ">
                            <label asp-for="StockKeepingUnit" class="form-label"></label>
                            <input asp-for="StockKeepingUnit" class="form-control" />
                            <span asp-validation-for="StockKeepingUnit" class="text-danger"></span>
                        </div>
                        <div class="form-group ">
                            <label asp-for="Price" class="kform-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group ">
                            <label asp-for="BrandId" class="form-label"></label>
                            <select class="form-control select2" asp-for="BrandId" asp-items="@ViewBag.BrandId"></select>
                            <span asp-validation-for="BrandId" class="text-danger"></span>
                        </div>
                        <div class="form-group ">
                            <label asp-for="CategoryId" class="form-label"></label>
                            <select class="form-control select2" asp-for="CategoryId" asp-items="@ViewBag.CategoryId"></select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ColorId" class="form-label"></label>
                            <label asp-for="ColorId" class="form-label"></label>
                            <select name="ColorId" class="form-control select2" asp-items="@ViewBag.ColorId"></select>
                        </div>

                        <div class="form-group">
                            <label asp-for="MaterialId" class="form-label"></label>
                            <label asp-for="MaterialId" class="form-label"></label>
                            <select name="MaterialId" class="form-control select2" asp-items="@ViewBag.MaterialId"></select>
                        </div>

                        <div class="form-group">
                            <label asp-for="ShortDescription" class="form-label"></label>
                            <input asp-for="ShortDescription" class="form-control" />
                            <span asp-validation-for="ShortDescription" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-12 col-md-6">
                        <div style="width: 100%;" class="imager-container" id="viewer1" name="images">
                           
                        </div>
                        <span asp-validation-for="Images" class="text-danger"></span>

                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="form-label"></label>
                    <textarea asp-for="Description" class="form-control" id="editor"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-12 d-flex justify-content-end">
                        <button class="btn btn-primary mr-2">Save</button>
                        <a asp-action="index" class="btn btn-info">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- Page-body end -->
@section addjs{
    <script class="removable" src="~/libs/ckeditor5/ckeditor.min.js"></script>
    <script class="removable" src="~/libs/select2/dist/js/select2.full.min.js"></script>
    <script class="removable" src="~/libs/multiple-imager-js/js/imager.js"></script>

    <script>

        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });

        $('#viewer1').imgadd({
            tnWidth: '80px',
            tnHeight: '80px',
            fontSize: '55px',
            plusInnerHtml: '',
            plusBtnClass: undefined
        });

        $(".select2").select2();

    </script>
}

@section addcss{
    <link rel="stylesheet" href="~/libs/multiple-imager-js/css/imager.css" />
    <link rel="stylesheet" href="~/libs/select2/dist/css/select2.min.css" />

    <style>
     /*   .viewer-thumbs {
            width:100%;
        }*/
    </style>
}