@model PagedViewModel<Product>

@{
    ViewData["Title"] = "Index";
}


<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Brands</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-controller="Dashboard" asp-action="index"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <span>All Products</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="card">
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table table-framed tree table-imaged">
                    <thead>
                        <tr>
                            <th>
                                Image
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                ShortDescription
                            </th>
                            <th>
                                Price
                            </th>
                            <th class="operations">
                                @if (User.HasAccess("admin.products.create"))
                                {
                                    <a asp-action="Create" class="btn btn-sm btn-primary">
                                        <i class="fa fa-pen-to-square"></i>
                                    </a>
                                }
                            </th>

                        </tr>
                    </thead>
                    <tbody id="dynamic-content">
                        <partial name="_ListBody" model="@Model" />
                    </tbody>
                </table>

                @Model.GetPager(Url,"Index","Admin")
            </div>
        </div>
    </div>
    <!-- Horizontal-border table end -->
    @Html.AntiForgeryToken()
</div>


@section addcss{
    <link rel="stylesheet" href="~/libs/toastr.js/toastr.min.css" />
    <link rel="stylesheet" href="~/libs/jquery-treegrid/css/jquery.treegrid.css" />

    <style>

        thead th,
        tbody td{
            vertical-align:middle !important;
        }

        .image-cell img{
           max-height:70px;
        }

        th.operations,
        td.operations {
            max-width: 148px;
            width: 148px;
            text-align: right;
            color: #ffffff;
        }

            th.operations i,
            td.operations i {
                margin: 0;
            }

        .pagination {
            display: inline-block;
            padding-left: 12px;
            margin: 20px 0;
            border-radius: 4px;
        }

            .pagination li {
                display: inline-block;
                text-transform: uppercase;
            }

            .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
                border-radius: 0;
            }

            .pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span, pagination > li > a:hover {
                color: #777;
                cursor: not-allowed;
                background-color: #fff;
                border-color: #ddd;
            }

            .pagination > li a {
                font-size: 15px;
                font-weight: bold;
                padding: 6px 14px;
            }

            .pagination > li > a, .pagination > li > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.42857143;
                color: #337ab7;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #ddd;
            }

            .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
                z-index: 2;
                color: #fff;
                cursor: default;
                background-color: #337ab7;
                border-color: #337ab7;
            }

            .pagination a {
                color: #fff;
                font-size: 12px;
                margin: 0 10px;
            }

            .pagination > li > a:hover {
                color: #777;
                background-color: #fff;
                border-color: #ddd;
            }


            .pagination a i {
                margin: 0 5px;
            }
    </style>
}

@section addjs{
    <script src="~/libs/sweetalert/sweetalert.min.js"></script>
    <script src="~/libs/toastr.js/toastr.min.js"></script>
    <script src="~/libs/toastr.js/toastr.customize.js"></script>
    <script src="~/libs/jquery-treegrid/js/jquery.treegrid.js"></script>

    <script type="text/javascript">
        $('.tree').treegrid();
    </script>


    @if (User.HasAccess("admin.categories.remove"))
    {
        <script class="removable">
            function removeEntity(id, name) {
                swal(`Əminsiniz ki, '${name}' silinsin?`, {
                    title: "Diqqət!",
                    text: `Əminsiniz ki, '${name}' silinsin?`,
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                    buttons: ["Xeyr", "Bəli"]
                })
                    .then((value) => {

                        if (value == true) {

                            let vToken = $("[name=__RequestVerificationToken]").val();

                            let formData = new FormData();

                            formData.set("__RequestVerificationToken", vToken);
                            formData.set("id", id);

                            $.ajax({
                                url: `@Url.Action("Delete")`,
                                type: "POST",
                                data: formData,
                                contentType: false,
                                processData: false,
                                success: function (response,status,xhr) {

                                    if (xhr.responseText.isHtml()){
                                        $('#dynamic-content').html(xhr.responseText);
                                    }
                                    else if (response.error == true){
                                        toastr.error(response.message, "Xeta!");
                                        return;
                                    }

                                },
                                error: function (errorResponse) {
                                    console.error(errorResponse);
                                }
                            });
                        }
                    });
            }
        </script>
    }

}