@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}

<div class="content">
    <div class="container">
        <div class="row justify-content-center  align-items-center row-bg-msg">
            <div class="col-md-6">
                <img src="~/assets/imgs/enelope-img.jpg" alt="Image" class="img-fluid msg-img">
            </div>
            <div class="col-md-6 contents pb-25">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h2 class="mb-4 we-msg">We will send you a link to reset your password</h2>
                        </div>
                        <a asp-action="signin" class="btn btn-block btn-primary">Return Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section addcss{
    <style>
        .content {
            padding-top: 13rem;
            padding-bottom: 5rem;
        }

        .row-bg-msg {
            background-color: #212529;
        }

        .we-msg {
            font-size: 30px;
            color: white;
            text-align:center;
        }

        .forgot-icon {
            font-size: 30px;
            padding-top: 11px;
        }

        @@media (max-width: 991.98px) {
            .content .bg {
                height: 500px;
            }
        }

        .content .contents,
        .content .bg {
            width: 50%;
        }

        @@media (max-width: 1199.98px) {

            .content .contents,
            .content .bg {
                width: 100%;
            }
        }

        .content .contents .form-group,
        .content .bg .form-group {
            overflow: hidden;
            padding: 15px 15px;
            border-bottom: none;
            position: relative;
            background: #edf2f5;
            border-bottom: 1px solid #e6edf1;
        }


        .content .bg {
            background-size: cover;
            background-position: center;
        }

        .content a {
            color: #888;
            text-decoration: underline;
        }

        .content .btn {
            height: 54px;
            padding: 13px;
            background-color: white;
            width: 100%;
            color: #212529;
            text-decoration: none;
            outline: none;
            font-size: 17px;
        }



        .msg-img {
            padding: 10px 0px;
        }
    </style>
}
