@model IEnumerable<Basket>

@{
    var info = Model.GroupBy(g => g.UserId)
                                    .Select(g => new
                                    {
                                        TotalSum = g.Sum(m => m.Quantity * m.Product.Price),
                                        TotalCount = g.Count()
                                    })
                                    .FirstOrDefault();
}

<div class="header-top__container__right__item">
    <a class="header-top__container__right__item__link same-color"
       href="javascript:void(0)">
        <i class="fa fa-bag-shopping"></i>
        @if (info != null && info.TotalCount > 0)
        {
            <sup class="icon-sup basket-sup">@info.TotalCount</sup>
        }
        else
        {
            <sup class="icon-sup basket-sup">0</sup>
        }

    </a>
</div>