@{
    ViewData["Title"] = "Index";
}
<div class="main-body chat-bg ">
    <div class="page-wrapper">
        <div id="main-chat" class="container-fluid">
            <!-- Page-header start -->
            <div class="page-header">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <div class="page-header-title">
                            <div class="d-inline">
                                <h4>Chat API</h4>
                                <span>
                                    lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="page-header-breadcrumb">
                            <ul class="breadcrumb-title">
                                <li class="breadcrumb-item" style="float: left;">
                                    <a href="../index.html">
                                        <i class="feather icon-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item" style="float: left;">
                                    <a href="#!">Pages</a>
                                </li>
                                <li class="breadcrumb-item" style="float: left;">
                                    <a href="#!">Sample page</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page-header end -->


            <div class="page-body">
                <div class="row">
                    <div class="chat-box">
                        <ul class="text-right boxs">
                            <li class="chat-single-box card-shadow bg-white active"
                                data-id="1">
                                <div class="had-container">
                                    <div class="chat-header p-10 bg-gray">
                                        <div class="user-info d-inline-block f-left">
                                            <div class="box-live-status bg-danger  d-inline-block m-r-10">
                                            </div>
                                            <a href="#">Josephin Doe</a>
                                        </div>
                                        <div class="box-tools d-inline-block">
                                            <a href="#" class="mini">
                                                <i class="fa-solid fa-minus mr-2"></i>
                                            </a>
                                            <a class="close" href="#">
                                                <i class="fa-solid fa-xmark"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="chat-body p-10">
                                        <div class="message-scrooler">
                                            <div class="messages">
                                                <div class="message out no-avatar media">
                                                    <div class="body media-body text-right p-l-50">
                                                        <div class="content msg-reply f-12 bg-primary d-inline-block">
                                                            Good morning..
                                                        </div>
                                                        <div class="seen">
                                                            <i class="fa-solid fa-clock"></i>
                                                            <span>
                                                                a
                                                                few seconds ago
                                                            </span>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                    <div class="sender media-right friend-box">
                                                        <a href="javascript:void(0);"
                                                           title="Me">

                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat-footer b-t-muted">
                                   @*     <div class="input-group write-msg">
                                            <form id="adminChatBox" style="display:flex;">
                                                <textarea name="message" placeholder="Type message..." class="form-control input-value"></textarea>

                                                <button id="paper-btn"
                                                        class="btn btn-primary" type="submit" style="padding: 6px 12px;">
                                                    <i class="fa-solid fa-arrow-right"></i>
                                                </button>
                                            </form>


                                        </div>*@
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div id="sidebar" class="users p-chat-user">
                            <div class="had-container">
                                <div class="card card_main p-fixed users-main ">
                                    <div class="user-box">
                                        <div class="card-block">
                                            <div class="right-icon-control">
                                                <input type="text"
                                                       class="form-control  search-text"
                                                       placeholder="Search Friend">
                                                <div class="form-icon">
                                                    <i class="fa-solid fa-magnifying-glass"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="user-groups">
                                            <h6>Groups</h6>
                                            <ul>
                                                <li class="frnds">Friends</li>
                                                <li class="work">Work</li>
                                            </ul>
                                        </div>
                                        <div class="user-groups">
                                            <div id="messagelist">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-error">
                <div class="card text-center">
                    <div class="card-block">
                        <div class="m-t-10">
                            <i class="icofont icofont-warning text-white bg-c-yellow"></i>
                            <h4 class="f-w-600 m-t-25">Not supported</h4>
                            <p class="text-muted m-b-0">
                                Chat not supported in this device
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form class="chatbox" id="adminChatBox">
    <div class="container">
        <h4>Send a message to admin</h4>
        <div class="row">
            <div class="col-12">
                <textarea name="message" class="message"></textarea>
            </div>
            <div class="col-12 d-flex justify-content-start">
                <button class="btn btn-success">Gonder</button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="~/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/libs/jquery-ui/jquery-ui.min.js"></script>
<script src="~/admin/pages/chat/js/chat.js"></script>
<script src="~/admin/pages/chat/js/mmc-chat.js"></script>
<script src="~/admin/pages/chat/js/mmc-common.js"></script>





<script>
   

</script>