
@{
    ViewData["Title"] = "About";
}

@{
    var backgroundImageUrl = Url.Content("~/assets/imgs/about-img.jpg");
}

<main>
    <section class="slider-area over-hidden">
        <div class="single-page page-height d-flex align-items-center"
             style="background-image: url('@backgroundImageUrl');">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex
                align-items-center justify-content-center position-static">
                        <div class="page-title text-center">
                            <h2 class="text-capitalize text-white mb-25 pt-35"
                                style="font-size: 50px">
                                About Us
                            </h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center bg-transparent">
                                    <li class="breadcrumb-item">
                                        <a class="secondary-color" href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active text-capitalize
                        text-white"
                                        aria-current="page">
                                        About Us
                                    </li>
                                </ol>
                            </nav>
                        </div>
                        <!-- /page title -->
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
            <!-- </div> -->
        </div>
        <!-- /single-slider -->
    </section>

    <section class="history-area pt-120 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="container-inner pl-35 pr-35">
                        <div class="history-title section-title pl-140 pb-50">
                            <span class="secondary-color position-relative">Our History</span>
                            <h2 class="pt-10">We Are A Lifestyle Brand</h2>
                        </div>
                        <div class="history-content">
                            <p class="pb-30">
                                It is accompanied by a case that can contain up to three
                                different diffusers and can be used for dry storage of loose
                                tea. The perfect way to enjoy brewing tea on low hanging
                                fruit to identify. Duis autem vel eum iriure dolor in
                                hendrerit in vulputate velit esse molestie consequat,
                                velillum dolore eu feugiat nulla facilisis.
                            </p>
                            <p class="pb-30">
                                The perfect way to enjoy brewing tea on low hanging fruit to
                                identify. Duis autem vel eum iriure dolor in hendrerit in
                                vulputate velit esse molestie consequat, vel illum dolore eu
                                feugiat nulla facilisis. For me, the most important part of
                                improving at photography has been sharing it.
                            </p>
                            <p>
                                Sign up for an Exposure account, or post regularly to
                                Tumblr, or both. Tell people you’re trying to get better at
                                photography. Talk about it. When you talk about it, other
                                people get excited about it. There are few plugins and apps
                                available for this purpose, many of them required a monthly
                                subscription or needed to expose the full store data to a
                                third party.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>

    <section class="portfolio-area">
        <div class="container-wrapper">
            <div class="portfolio-area__wrapper">
                <div class="portfolio-area__left">
                    <div class="portfolio-area__left--up">
                        <img class="img-zoom"
                             src="~/assets/imgs/image1-about.jpg"
                             alt="" />
                    </div>
                    <div class="portfolio-area__left--down">
                        <div>
                            <img class="img-zoom"
                                 src="~/assets/imgs/image2-about.jpg"
                                 alt="" />
                        </div>
                        <div>
                            <img class="img-zoom"
                                 src="~/assets/imgs/image3-about.jpg"
                                 alt="" />
                        </div>
                    </div>
                </div>
                <div class="portfolio-area__right">
                    <div>
                        <img class="img-zoom"
                             src="~/assets/imgs/image4-about.jpg"
                             alt="" />
                    </div>
                    <div class="portfolio-area__right--long">
                        <img class="img-zoom"
                             src="~/assets/imgs/image5-about.jpg"
                             alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-service mt-55 pb-85">
        <div class="container">
            <div class="container-inner pl-50 pr-50">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 p-md-0">
                        <div class="our-single-service text-center pb-35 mt-35 pl-10 pr-20
                  border-bottom border-right">
                            <div class="our-icon">
                                <i class="fa-solid fa-trophy"></i>
                            </div>
                            <h5 class="pt-30 pb-10">19 Years of Experience</h5>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit
                                voluptatem accusantium doloremque laudantium, totam rem
                                aperiam, eaque ipsa quae ab illo inventore veritatis.
                            </p>
                        </div>
                    </div>
                    <!-- /col -->
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 p-md-0">
                        <div class="our-single-service text-center pb-35 mt-35 pl-20 pr-10
                  border-bottom">
                            <div class="our-icon">
                                <i class="fa fa-users"></i>
                            </div>
                            <h5 class="pt-30 pb-10">60,000+ Happy Customer</h5>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit
                                voluptatem accusantium doloremque laudantium, totam rem
                                aperiam, eaque ipsa quae ab illo inventore veritatis.
                            </p>
                        </div>
                    </div>
                    <!-- /col -->
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 p-md-0">
                        <div class="our-single-service text-center mb-35 pt-35 pl-10 pr-20
                  border-right">
                            <div class="our-icon">
                                <i class="fa-solid fa-thumbs-up"></i>
                            </div>
                            <h5 class="pt-30 pb-10">Awesome Performance</h5>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit
                                voluptatem accusantium doloremque laudantium, totam rem
                                aperiam, eaque ipsa quae ab illo inventore veritatis.
                            </p>
                        </div>
                    </div>
                    <!-- /col -->
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 p-md-0">
                        <div class="our-single-service text-center mb-35 pt-35 pl-20 pr-10">
                            <div class="our-icon">
                                <i class="fa-solid fa-medal"></i>
                            </div>
                            <h5 class="pt-30 pb-10">Impressive Design</h5>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit
                                voluptatem accusantium doloremque laudantium, totam rem
                                aperiam, eaque ipsa quae ab illo inventore veritatis.
                            </p>
                        </div>
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
            </div>
        </div>
        <!-- /container -->
    </section>

    <section class="shipping-area shipping-height"
             style="background-image: url('@Url.Content("~/assets/imgs/about-mid.jpg")')">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="shipping-content text-center pt-200">
                        <div class="ship-icon mt-20">
                            <i class="fa fa-ship"></i>
                        </div>
                        <h2 class="pt-15 pb-10 text-white">
                            All Orders Are Free Shipping
                        </h2>
                        <p class="text-white">
                            Donec vehicula cursus vestibulum lectus, sit eros integer
                            varius cum turpis et quam congue accumsan ac bibendum ac in
                            erat. Donec posuere consectetuer volutpat rutrum ac
                            sollicitudin quam quisque at interdum dignissim fringilla elit
                            risus lorem condimentum eros mollis
                        </p>
                    </div>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>

    <!--  testimonial-area-start  -->
    <section class="testimonial-area testimonial-bg pt-180">
        <span class="arrow prev">
            <i class="fa fa-arrow-left"></i>
        </span>
        <div class="container">
            <div class="testimonial-active about-slick ">
                <div class="row align-items-center pb-100">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="user-comment text-center">
                            <div class="quit mb-40">
                                <a href="#" class="text-white"><i class="fas fa-quote-left"></i></a>
                            </div>
                            <blockquote class="testimonials-text text-white">
                                For me the most important part of improving at photography
                                has been sharing it. <br />
                                Sign up for an Exposure account, or post regularly to
                                Tumblr, or both. Tell people you’re trying to get better at
                                photography. Minimalist approach, bright colors, stainless
                                steel and matte plastic, abstract shapes and curved lines
                                are the defining features of these <br />
                                products designed to be extremely functional, user-friendly
                                and fun.
                            </blockquote>
                            <div class="client text-center pt-40">
                                <img class="pb-15" src="~/assets/imgs/user.png" alt="" />
                                <h5>
                                    <a class="text-white" href="#">Eren Christopher</a>
                                </h5>
                                <span>Founder or Agota Store</span>
                            </div>
                        </div>
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
                <div class="row align-items-center pb-100">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="user-comment text-center">
                            <div class="quit mb-40">
                                <a href="#" class="text-white"><i class="fas fa-quote-left"></i></a>
                            </div>
                            <blockquote class="testimonials-text text-white">
                                For me the most important part of improving at photography
                                has been sharing it. <br />
                                Sign up for an Exposure account, or post regularly to
                                Tumblr, or both. Tell people you’re trying to get better at
                                photography. Minimalist approach, bright colors, stainless
                                steel and matte plastic, abstract shapes and curved lines
                                are the defining features of these <br />
                                products designed to be extremely functional, user-friendly
                                and fun.
                            </blockquote>
                            <div class="client text-center pt-40">
                                <img class="pb-15" src="~/assets/imgs/user.png" alt="" />
                                <h5>
                                    <a class="text-white" href="#">Eren Christopher2</a>
                                </h5>
                                <span>Founder or Agota Store</span>
                            </div>
                        </div>
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
                <div class="row align-items-center pb-100">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="user-comment text-center">
                            <div class="quit mb-40">
                                <a href="#" class="text-white"><i class="fas fa-quote-left"></i></a>
                            </div>
                            <blockquote class="testimonials-text text-white">
                                For me the most important part of improving at photography
                                has been sharing it. <br />
                                Sign up for an Exposure account, or post regularly to
                                Tumblr, or both. Tell people you’re trying to get better at
                                photography. Minimalist approach, bright colors, stainless
                                steel and matte plastic, abstract shapes and curved lines
                                are the defining features of these <br />
                                products designed to be extremely functional, user-friendly
                                and fun.
                            </blockquote>
                            <div class="client text-center pt-40">
                                <img class="pb-15" src="~/assets/imgs/user.png" alt="" />
                                <h5>
                                    <a class="text-white" href="#">Eren Christopher3</a>
                                </h5>
                                <span>Founder or Agota Store</span>
                            </div>
                        </div>
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
            </div>
            <div class="testimonial--dots">
            </div>
        </div>
        <span class="arrow next">
            <i class="fa fa-arrow-right"></i>
        </span>
        <!-- /container -->
    </section>
    <!-- testimonial-area-end  -->
    <!-- brand-logo section start -->
    <section class="brand-logo">
        <div class="container-wrapper">
            <div class="brand-active">
                <div class="brand-item d-flex justify-content-center">
                    <img src="~/assets/imgs/brand-logo1.png" alt="" />
                </div>
                <div class="brand-item d-flex justify-content-center">
                    <img src="~/assets/imgs/brand-logo2.png" alt="" />
                </div>
                <div class="brand-item d-flex justify-content-center">
                    <img src="~/assets/imgs/brand-logo3.png" alt="" />
                </div>
                <div class="brand-item d-flex justify-content-center">
                    <img src="~/assets/imgs/brand-logo4.png" alt="" />
                </div>
                <div class="brand-item d-flex justify-content-center">
                    <img src="~/assets/imgs/brand-logo5.png" alt="" />
                </div>
                <div class="brand-item d-flex justify-content-center">
                    <img src="~/assets/imgs/brand-logo1.png" alt="" />
                </div>
                <div class="brand-item d-flex justify-content-center">
                    <img src="~/assets/imgs/brand-logo2.png" alt="" />
                </div>
            </div>
        </div>
    </section>
    <!-- brand-logo section end -->
</main>