
@{
    ViewData["Title"] = "AboutMe";
}

<main>
    <div class="about-me-area about-page-height about-bg position-relative over-hidden">
        <div class="about-me-img  position-absolute">
            <img src="~/assets/imgs/about-me-dark.jpg" alt="">
        </div>
        <div class="about-d-height position-absolute mt-100">
            <div class="about-details pr-20">
                <span class="secondary-color">I’m a Designer of Cozy Store</span>
                <h1 class="pt-15 pb-25">I’m Seyfi</h1>
                <p class="m-0">For me the most important part of improving at photography has been sharing it.</p>
                <p class="pb-1">Sign up for an Exposure account, or post regularly to Tumblr, or both. Tell people you’re trying to get better at photography.</p>
                <p>The perfect way to enjoy brewing tea on low hanging fruit to identify. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, velillum dolore eu feugiat nulla facilisis.</p>
                <ul class="my-address mt-70">
                    <li>Email: admin@basictheme.com.</li>
                    <li>Phone: (+100) 123 456 789</li>
                    <li>Add: S9 Heaven Stress, Beverly Hill, Melbourne, USA.</li>
                </ul>
                <ul class="my-social-info mt-30">
                    <li><a href="#" class="d-block bg-transparent mr-10 mb-10 text-capitalize f-border f-color text-center">facebook</a></li>
                    <li><a href="#" class="d-block bg-transparent mr-10 mb-10 text-capitalize t-border t-color text-center">twitter</a></li>
                    <li><a href="#" class="d-block bg-transparent mr-10 mb-10 text-capitalize g-border g-color text-center">google+</a></li>
                    <li><a href="#" class="d-block bg-transparent mr-10 mb-10 text-capitalize d-border d-color text-center">dribble</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>
