@model IEnumerable<Faq>
@{
    ViewData["Title"] = "Faq";
}

<main>
    <!--slider-area-start -->
    <section class="slider-area-login over-hidden">
        <div class="single-page cart-height d-flex align-items-center height">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex
                align-items-center justify-content-center">
                        <div class="page-title pt-180 pb-100">
                            <h2 class="text-capitalize mb-30">FAQs</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item">
                                        <a class="secondary-color" href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active text-capitalize text-dark"
                                        aria-current="page">
                                        My Account
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="question container mb-100 faq">
        <div class="row">
            <div class="col-12">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    @foreach (var item in Model)
                    {
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree-@item.Id"
                                        aria-expanded="false"
                                        aria-controls="collapseThree">
                                    @item.Question
                                </button>
                            </h2>
                            <div id="collapseThree-@item.Id"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    @Html.Raw(item.Answer)
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</main>

