@*<form class="chatbox" id="chatbox" style="display:none">
    <div class="container">
        <h4>Send a message to admin</h4>
        <div class="row">
            <div class="col-12">
                <textarea name="message" class="message"></textarea>
            </div>
            <div class="col-12 d-flex justify-content-start">
                <button class="btn btn-success">Gonder</button>
            </div>
        </div>
    </div>
</form>*@


@{
    var backgroundImageUrl = Url.Content("~/assets/imgs/chatbg.jpg");
}


<div class="chatbox-wrapper">
    <div class="chatbox-toggle">
        <i class="fa-solid fa-comments"></i>
    </div>
    <div class="chatbox-message-wrapper">
        <div class="chatbox-message-header">
            <div class="chatbox-message-profile">
                <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bWFufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="" class="chatbox-message-image">
                <div>
                    <h4 class="chatbox-message-name">Support Agent Seyfi Najafli</h4>
                    <p class="chatbox-message-status">online</p>
                </div>
            </div>
            <div class="chatbox-message-dropdown">
                <i class='bx bx-dots-vertical-rounded chatbox-message-dropdown-toggle'></i>
                <ul class="chatbox-message-dropdown-menu">
                    <li>
                        <a href="#">Search</a>
                    </li>
                    <li>
                        <a href="#">Report</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="chatbox-message-content" style="background-image: url('@backgroundImageUrl');">
            <h4 class="chatbox-message-no-message">You don't have message yet!</h4>
        </div>
        <div class="chatbox-message-bottom">
            <form class="chatbox-message-form" id="chatbox" style="display:none">
                <textarea name="message" placeholder="Type message..." class="chatbox-message-input"></textarea>
                <button type="submit" class="chatbox-message-submit"><i class="fa-solid fa-arrow-right"></i></button>
            </form>
        </div>
    </div>
</div>

