<form class="chatbox" id="chatbox" style="display:none">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <textarea name="message" class="message"></textarea>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-success">Gonder</button>
            </div>
        </div>
    </div>
</form>


@*<div id="chat-circle" class="btn btn-raised">
    <div id="chat-overlay"></div>
    <i class="fa-solid fa-message"></i>
</div>


<form class="chatbox" id="chatbox" style="display:none">
<div class="chat-box">
    <div class="chat-box-header">
        ChatBot
        <span class="chat-box-toggle"><i class="fa-solid fa-xmark"></i></span>
    </div>
    <div class="chat-box-body">
        <div class="chat-box-overlay">
        </div>
        <div class="chat-logs">
        </div><!--chat-log -->
    </div>
    <div class="chat-input">
        <form>
            <input type="text" id="chat-input" placeholder="Send a message..." />
            <button type="submit" class="chat-submit" id="chat-submit"><i class="fa-solid fa-paper-plane-top"></i></button>
        </form>
    </div>
</div>
</form>*@
