
<div class="product-search position-relative d-none d-xl-block pr-25">
    <form asp-action="searchproducts" asp-controller="shop">
        <input class="pl-15 input-search" type="text" name="SearchTerm" placeholder="Search..">
    <p class="position-absolute">
        <i class="fa fa-magnifying-glass" aria-hidden="true"></i>
    </p>
    </form>
    <ul class="search-results home-two" style="position: absolute; left: -300px; top: 49px;"></ul>
</div>