
<form class="footer__form"
      method="post"
      id="newsletter-subscribe">
    <input class="footer__form__input"
           type="text"
           name="email" id="email"
           placeholder="Subscribe to our newsletter...">
    <input class="footer__form__btn" type="submit" value="Submit" />
</form>


